# CUDD Package: 
polynomial_division/*
!polynomial_division/*/
!polynomial_division/*.c
!polynomial_division/*.h
!polynomial_division/*.dot
polynomial_division/*/*
!polynomial_division/*/*/
!polynomial_division/*/*.c
!polynomial_division/*/*.h
!polynomial_division/*/Makefile
!polynomial_division/*/*.dot
polynomial_division/*/*/*
!polynomial_division/*/*/*/
!polynomial_division/*/*/*.c
!polynomial_division/*/*/*.h
!polynomial_division/*/*/*.dot
polynomial_division/*/*/*/*
!polynomial_division/*/*/*/*/
!polynomial_division/*/*/*/*.c
!polynomial_division/*/*/*/*.h
!polynomial_division/*/*/*/*.dot

# GDB Executable
2 

# swp files
*.swp 

# NFS
*.nfs*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app