# swp files
*.swp 

# Prerequisites
*.d

# CUDD Package: 
!polynomial_division/
polynomial_division/*
polynomial_division/cudd-3.0.0/*
!polynomial_division/cudd-3.0.0/
polynomial_division/cudd-3.0.0/nanotrav/*
!polynomial_division/cudd-3.0.0/nanotrav/
!polynomial_division/cudd-3.0.0/nanotrav/main.c

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
