c example.cnf
c a = 1
c b = 2
c c = 3
c d = 4
c e = 5

c d  <=>  a*b	=> (~d + a)(~d + b)(~a + ~b + d)
c e  <=>  d*c	=> (~e + d)(~e + c)(~d + ~c + e)

p cnf 5 6
-4 1 0
-4 2 0
-1 -2 4 0
-5 4 0
-5 3 0
-4 -3 5 0

c u = 1, v = 1, w = 1
c 9 0
c 10 0
c 11 0
